# Exclude frontend files from GitHub Linguist statistics
frontend/template.html linguist-generated=true
frontend/style.css linguist-generated=true
frontend/script.js linguist-generated=true
ldapviewer_exemple.html linguist-generated=true
